.sec1{
    background-image: url(./images/IMAGE\ -\ 2025-11-21T172452.978.png);
    width: 100%;
    height: 955px;
    background-repeat: no-repeat;
    background-size: cover;
}
.sec4{
       background-image: url(./images/IMAGE\ -\ 2025-11-22T144839.614.png);
    width: 100%;
    height: 545px;
    background-repeat: no-repeat;
    background-size: cover;
}